Repository Leasw144/whats-cookin-starter-kit, pull requests merged in 2020-07, with the labels that each got.

#28 Feature/user class constructor
  src/Menu.js
  src/Pantry.js
  src/User.js
  test/Menu-test.js
  test/Pantry-test.js
  test/User-test.js
Labels: Class Constructor, Pantry Class, User Class, class method

#29 Feature/menu class
  src/Menu.js
  src/styles.css
  test/Menu-test.js
Labels: Class Constructor, class method, enhancement, menu class, menu method, question

#33 Feature/check pantry
  src/Pantry.js
  test/Pantry-test.js
Labels: Pantry Class, pantry method

#41 Create method check pantry #24
  src/Pantry.js
Labels: Pantry Class, pantry method

#47 Feature/new check pantry
  src/Pantry.js
  test/Pantry-test.js
Labels: Pantry Class, pantry method

#48 Feature/user class search method
  src/User.js
  test/Pantry-test.js
  test/Recipe-test.js
  test/User-test.js
Labels: User Class, bug, class method, enhancement

#50 Feature/search method dom stuff
  src/scripts.js
Labels: DOM stuff, User Class, bug, enhancement, scripts.js

#51 Testing/check pantry
  src/Pantry.js
  test/Pantry-test.js
Labels: Pantry Class, pantry method, testing

#52 Cleanup/refactor tidy remove uneccesary
  src/index.html
  src/scripts.js
  test/Recipe-test.js
  test/User-test.js
Labels: refactor, scripts.js, tidy up
